html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
}

#click-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.calculator .button,
.calculator .button-x {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
}

.calculator .button {
  background-color: #0d3769;
}

.calculator .button.animate-click {
  transform: scale(0.92);
  transition: transform 0.1s ease;
}

.calculator .button-x {
  background-color: #c64543;
}

.calculator .button-x:hover {
  background-color: #e0423f;
}

.login-row-area {
  border: 1px solid #00000044;
  border-radius: 15px;
  padding: 30px;
  animation: fadeInUp 0.6s ease-in-out;
}

@keyframes fadeInUp {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

.alert {
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
}

.modal-content {
  border-radius: 15px;
}

@media (max-width: 768px) {
  .calculator {
    margin-top: 20px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .login-row-area {
    padding: 15px;
  }
  .login-btn {
  background-color: #0d3769;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #e67817;
}

.login-btn:active {
  transform: scale(0.95);
  }

  .calculator .button.clicked-temp {
  background-color: #e67817 !important;
  }
  
  }
