html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

#click-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.form-login {
  position: relative;
  background-color: #fff;
}

.form-login .login-row-area,
.calculator {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.form-login .login-row-area:hover,
.calculator:hover {
  transform: translateY(-2px);
}

.form-login .login-opening {
  margin: 15px 0;
}

.form-login .login-form-title {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 0 0;
}

.form-login .form-control {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #00000044;
}

.form-login .form-control:focus {
  box-shadow: 0 0 0 3px #0d3769;
  border-color: #0d3769;
}

.form-login .login-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #0d3769;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.form-login .login-btn:hover {
  background-color: #e67817;
}

.alert-text {
  font-size: 15px;
  font-weight: 600;
}

.calculator .button,
.calculator .button-x {
  font-size: 20px;
  padding: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  text-align: center;
}

.calculator .button {
  background-color: #0d3769;
}

.calculator .button:hover {
  background-color: #e67817;
}

.calculator .button-x {
  background-color: #c64543;
}

.calculator .button-x:hover {
  background-color: #e0423f;
}

/* Responsif untuk layar kecil */
@media (max-width: 576px) {
  .form-control {
    font-size: 18px;
  }

  .login-form-title {
    font-size: 16px;
  }

  .login-btn {
    font-size: 16px;
    padding: 8px 20px;
  }

  .calculator .button,
  .calculator .button-x {
    font-size: 18px;
    padding: 14px;
  }
}
